<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="GREP_APPID">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <uses-feature android:name="android.hardware.faketouch" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application android:label="GREP_APP_NAME"
            android:allowBackup="true"
            android:backupAgent="org.nift4.pluginkeyboard.LatinIMEBackupAgent"
            android:restoreAnyVersion="true"
            android:hardwareAccelerated="false"
            android:killAfterRestore="false"
            android:icon="@drawable/icon">

        <service android:name="org.nift4.pluginkeyboard.LatinIME"
                android:label="GREP_APP_NAME"
                android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>

        <activity android:name="org.nift4.pluginkeyboard.Main" android:label="GREP_APP_NAME">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="org.nift4.pluginkeyboard.LatinIMESettings" android:label="Keyboard Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="org.nift4.pluginkeyboard.SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="org.nift4.pluginkeyboard.InputLanguageSelection"
                android:label="@string/language_selection_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="org.nift4.pluginkeyboard.INPUT_LANGUAGE_SELECTION"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="org.nift4.pluginkeyboard.PrefScreenActions"
                android:label="@string/pref_screen_actions_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="org.nift4.pluginkeyboard.PREFS_ACTIONS"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
            
        <activity android:name="org.nift4.pluginkeyboard.PrefScreenView"
                android:label="@string/pref_screen_actions_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="org.nift4.pluginkeyboard.PREFS_VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="org.nift4.pluginkeyboard.PrefScreenFeedback"
                android:label="@string/pref_screen_feedback_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="org.nift4.pluginkeyboard.PREFS_FEEDBACK"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
</application>
</manifest>
